@use "./main.scss" as *;
@use "./responsive.scss" as *;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $base-color2;
  padding: 10px;
  height: 80px;
  width: 100%;
  // border-bottom: 1px solid $secondary-color2;

  @include md {
    padding: 20px;
  }

  &.center {
    justify-content: center;
  }

  .brand-name {
    color: $secondary-color1;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    @include md {
      font-size: 30px;
      letter-spacing: 7px;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    color: $secondary-color2;

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 10px;
      letter-spacing: 1px;
      gap: 7px;

      @include md {
        margin-right: 20px;
      }

      .name {
        font-weight: bolder;
        font-size: 16px;
        @include md {
          font-size: 22px;
        }
      }
      .logout {
        background-color: $secondary-color1;
        font-size: 13px;
        @include md {
          font-size: 16px;
        }
        font-weight: bold;
        padding: 3px 5px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
